a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: black;
    font-weight: bold;
}

li {
    font-style: italic;
}

.impar {
    color: black;
    text-decoration: underline;
}

.par {
    color: grey;
}