* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 244, 230);
}
main {
    display: block;
    width: 60%;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 100vh;
    padding: 40px;
    padding-top: 100px;
    background-color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
thead tr {
    line-height: 200%;
    background-color: #cececd;
}
tbody tr {
    line-height: 150%;
}
tbody tr:nth-child(even) {
    background-color: #ebebeb;
}
table {
    width: 100%;
    text-align: center;
}