/* Parte 0 */

h1 {
    color: brown;
}

/* Parte 1 */

h2 + p {
    text-indent: 2em;
}

/* Parte 2 */

h2::first-letter {
    font-size: 2em;
}

/* Parte 3 */

a::before {
    content: "(";
}

/* Parte 4 */

a::after {
    content: ")";
}

/* Parte 5 */

abbr::after {
    content: attr(title);
}

/* Parte 6 */

a {
    color: green;
}

p a {
    color: grey;
}

/* Parte 7 */

a:visited {
    color: orange;
}

/* Parte 8 */

li a:visited {
    color: red;
}

/* Parte 9 */

h1, h2 {
    text-align: center;
}

/* Parte 10 */

a:active {
    color: blue;
}

/* Parte 11 */

a:hover, h1:hover, h2:hover {
    text-decoration: line-through;
}

/* Parte 12 */

input[type="number"]:out-of-range {
    background-color: pink;
}

/* Parte 13 */

li::marker {
    font-size: 20px;
    color: violet;
}

/* Parte 14 */

li:nth-child(even) {
    font-style: italic;
}
